flows.json
[
    {
        "id": "4d737e2118d73d88",
        "type": "tab",
        "label": "Bot Telegram",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1232eeed05d04f44",
        "type": "telegram receiver",
        "z": "4d737e2118d73d88",
        "name": "",
        "bot": "388e615e9e287425",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "951e3d93e42cba2e",
                "66448bfb6db682fe"
            ],
            []
        ]
    },
    {
        "id": "951e3d93e42cba2e",
        "type": "debug",
        "z": "4d737e2118d73d88",
        "name": "msg.payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 40,
        "wires": []
    },
    {
        "id": "66448bfb6db682fe",
        "type": "switch",
        "z": "4d737e2118d73d88",
        "name": "",
        "property": "payload.chatId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1297112101",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "bf1c7c21ea45dff9"
            ]
        ]
    },
    {
        "id": "bf1c7c21ea45dff9",
        "type": "switch",
        "z": "4d737e2118d73d88",
        "name": "",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "b",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "audio",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 550,
        "y": 260,
        "wires": [
            [
                "9f88f1db40c69a1f"
            ],
            [
                "2fa73455eb872873"
            ],
            [],
            [
                "2fa73455eb872873"
            ]
        ]
    },
    {
        "id": "9f88f1db40c69a1f",
        "type": "function",
        "z": "4d737e2118d73d88",
        "name": "function",
        "func": "msg.payload = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 240,
        "wires": [
            [
                "9c6ce238d6ce79da"
            ]
        ]
    },
    {
        "id": "ebc13edd31339b35",
        "type": "watson-speech-to-text",
        "z": "4d737e2118d73d88",
        "name": "stt=>portuguese",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "yRs2E-YIIRzA6QgyEYc2E2Ugzzfqc_VX73FJSqglm6j7",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/e38a9616-ba03-47d6-aed4-d4581e232e02",
        "x": 580,
        "y": 380,
        "wires": [
            [
                "2a457ef24b479f8f"
            ]
        ]
    },
    {
        "id": "2fa73455eb872873",
        "type": "function",
        "z": "4d737e2118d73d88",
        "name": "Get Audio File",
        "func": "msg.payload = msg.payload.weblink;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 320,
        "wires": [
            [
                "ebc13edd31339b35"
            ]
        ]
    },
    {
        "id": "9c6ce238d6ce79da",
        "type": "watson-language-translator-identify",
        "z": "4d737e2118d73d88",
        "name": "",
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/051e7263-dd7d-472a-91d5-b75061905038",
        "x": 990,
        "y": 240,
        "wires": [
            [
                "d3db0e12fe2f5a1d",
                "eb1e06e8c357d8d9"
            ]
        ]
    },
    {
        "id": "d3db0e12fe2f5a1d",
        "type": "switch",
        "z": "4d737e2118d73d88",
        "name": "",
        "property": "lang.language",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "pt",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "en",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "es",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ru",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ja",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "fr",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 1210,
        "y": 240,
        "wires": [
            [
                "2a457ef24b479f8f"
            ],
            [
                "855cb2d988724c32"
            ],
            [
                "879ccec24982a52d"
            ],
            [
                "459b6f7d8ebec17a"
            ],
            [
                "f6504e38b6a55f08"
            ],
            []
        ]
    },
    {
        "id": "eb1e06e8c357d8d9",
        "type": "debug",
        "z": "4d737e2118d73d88",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 320,
        "wires": []
    },
    {
        "id": "2a457ef24b479f8f",
        "type": "debug",
        "z": "4d737e2118d73d88",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 140,
        "wires": []
    },
    {
        "id": "855cb2d988724c32",
        "type": "watson-translator",
        "z": "4d737e2118d73d88",
        "name": "english=>portuguese",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "en",
        "destlang": "pt",
        "apikey": "k9XMzr-9_RV8ykINlkq2-0p4O5q6r80XGH697m7x2DQK",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "en",
        "destlanghidden": "pt",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/051e7263-dd7d-472a-91d5-b75061905038",
        "x": 1460,
        "y": 220,
        "wires": [
            [
                "14678e209af22519"
            ]
        ]
    },
    {
        "id": "459b6f7d8ebec17a",
        "type": "watson-translator",
        "z": "4d737e2118d73d88",
        "name": "russian=>english",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "ru",
        "destlang": "en",
        "apikey": "k9XMzr-9_RV8ykINlkq2-0p4O5q6r80XGH697m7x2DQK",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "ru",
        "destlanghidden": "en",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/051e7263-dd7d-472a-91d5-b75061905038",
        "x": 1450,
        "y": 260,
        "wires": [
            [
                "855cb2d988724c32"
            ]
        ]
    },
    {
        "id": "879ccec24982a52d",
        "type": "watson-translator",
        "z": "4d737e2118d73d88",
        "name": "spanish=>english",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "es",
        "destlang": "en",
        "apikey": "k9XMzr-9_RV8ykINlkq2-0p4O5q6r80XGH697m7x2DQK",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "es",
        "destlanghidden": "en",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/051e7263-dd7d-472a-91d5-b75061905038",
        "x": 1450,
        "y": 300,
        "wires": [
            [
                "855cb2d988724c32"
            ]
        ]
    },
    {
        "id": "f6504e38b6a55f08",
        "type": "watson-translator",
        "z": "4d737e2118d73d88",
        "name": "japanese=>english",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "ja",
        "destlang": "en",
        "apikey": "k9XMzr-9_RV8ykINlkq2-0p4O5q6r80XGH697m7x2DQK",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "ja",
        "destlanghidden": "en",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/051e7263-dd7d-472a-91d5-b75061905038",
        "x": 1450,
        "y": 340,
        "wires": [
            [
                "855cb2d988724c32"
            ]
        ]
    },
    {
        "id": "45a064657c59c19e",
        "type": "watson-translator",
        "z": "4d737e2118d73d88",
        "name": "serbian=>english",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "sr",
        "destlang": "en",
        "apikey": "k9XMzr-9_RV8ykINlkq2-0p4O5q6r80XGH697m7x2DQK",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "sr",
        "destlanghidden": "en",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/051e7263-dd7d-472a-91d5-b75061905038",
        "x": 1450,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "14678e209af22519",
        "type": "debug",
        "z": "4d737e2118d73d88",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1660,
        "y": 220,
        "wires": []
    },
    {
        "id": "a1e9b2b523b6c58d",
        "type": "watson-text-to-speech",
        "z": "4d737e2118d73d88",
        "d": true,
        "name": "",
        "lang": "",
        "langhidden": "",
        "langcustom": "",
        "langcustomhidden": "",
        "voice": "",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "yRs2E-YIIRzA6QgyEYc2E2Ugzzfqc_VX73FJSqglm6j7",
        "payload-response": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/e38a9616-ba03-47d6-aed4-d4581e232e02",
        "x": 2700,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "b21445544b460011",
        "type": "watson-speech-to-text",
        "z": "4d737e2118d73d88",
        "name": "stt=>english",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "en-US",
        "langhidden": "en-US",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "yRs2E-YIIRzA6QgyEYc2E2Ugzzfqc_VX73FJSqglm6j7",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/e38a9616-ba03-47d6-aed4-d4581e232e02",
        "x": 570,
        "y": 440,
        "wires": [
            [
                "855cb2d988724c32"
            ]
        ]
    },
    {
        "id": "19d9e4c52ffc7f94",
        "type": "watson-speech-to-text",
        "z": "4d737e2118d73d88",
        "name": "stt=>japanese",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "ja-JP",
        "langhidden": "ja-JP",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "yRs2E-YIIRzA6QgyEYc2E2Ugzzfqc_VX73FJSqglm6j7",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/e38a9616-ba03-47d6-aed4-d4581e232e02",
        "x": 580,
        "y": 500,
        "wires": [
            [
                "f6504e38b6a55f08"
            ]
        ]
    },
    {
        "id": "4d8ced769ec1d528",
        "type": "telegram sender",
        "z": "4d737e2118d73d88",
        "name": "",
        "bot": "388e615e9e287425",
        "haserroroutput": false,
        "outputs": 1,
        "x": 590,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "8a847399d7ebdc51",
        "type": "inject",
        "z": "4d737e2118d73d88",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2490",
        "crontab": "",
        "once": false,
        "onceDelay": "41.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 660,
        "wires": [
            [
                "ecb353345825165f"
            ]
        ]
    },
    {
        "id": "ecb353345825165f",
        "type": "function",
        "z": "4d737e2118d73d88",
        "name": "function 1",
        "func": "msg.payload = {}\nmsg.payload.chatId = '1297112101'\nmsg.payload.type = 'message'\nmsg.payload.content = 'Meu PC diz: Beber água.'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 660,
        "wires": [
            [
                "4d8ced769ec1d528"
            ]
        ]
    },
    {
        "id": "22b08dcc4e31f485",
        "type": "inject",
        "z": "4d737e2118d73d88",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 820,
        "y": 560,
        "wires": [
            [
                "c839b1dcd5b0ef27"
            ]
        ]
    },
    {
        "id": "0c7101d0117f24b8",
        "type": "debug",
        "z": "4d737e2118d73d88",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 560,
        "wires": []
    },
    {
        "id": "c839b1dcd5b0ef27",
        "type": "function",
        "z": "4d737e2118d73d88",
        "name": "function 2",
        "func": "var date = new Date(msg.payload)\nmsg.payload = date.toString()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 600,
        "wires": [
            [
                "0c7101d0117f24b8"
            ]
        ]
    },
    {
        "id": "2daac4a01824020a",
        "type": "ibmiot in",
        "z": "4d737e2118d73d88",
        "authentication": "apiKey",
        "apiKey": "eaa4e4cfb006ebc4",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "001",
        "applicationId": "",
        "deviceType": "ESP32",
        "eventType": "status",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allLogicalInterfaces": "",
        "allEvents": false,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 90,
        "y": 800,
        "wires": [
            [
                "44dae110bdf8baf5",
                "a57dc18cc6105266"
            ]
        ]
    },
    {
        "id": "44dae110bdf8baf5",
        "type": "debug",
        "z": "4d737e2118d73d88",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 740,
        "wires": []
    },
    {
        "id": "a57dc18cc6105266",
        "type": "function",
        "z": "4d737e2118d73d88",
        "name": "function 3",
        "func": "var msgrpm = {}\n\nmsgrpm.payload = msg.payload.rpm\n\nreturn [msgrpm];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 800,
        "wires": [
            [
                "6b8e346b846e0716"
            ]
        ]
    },
    {
        "id": "6b8e346b846e0716",
        "type": "ui_gauge",
        "z": "4d737e2118d73d88",
        "name": "",
        "group": "cab6ed85e8207ec8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CURRENT RPM",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 520,
        "y": 800,
        "wires": []
    },
    {
        "id": "6ddd0ed75b69d329",
        "type": "ui_slider",
        "z": "4d737e2118d73d88",
        "name": "",
        "label": "SET RPM",
        "tooltip": "",
        "group": "cab6ed85e8207ec8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 80,
        "y": 940,
        "wires": [
            [
                "a75ba445a0c8ee57",
                "46de84e2bd90d276"
            ]
        ]
    },
    {
        "id": "a75ba445a0c8ee57",
        "type": "debug",
        "z": "4d737e2118d73d88",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 880,
        "wires": []
    },
    {
        "id": "740b492423a12ff1",
        "type": "ibmiot out",
        "z": "4d737e2118d73d88",
        "authentication": "apiKey",
        "apiKey": "eaa4e4cfb006ebc4",
        "outputType": "cmd",
        "deviceId": "001",
        "deviceType": "ESP32",
        "eventCommandType": "setrpm",
        "format": "json",
        "data": "msg",
        "qos": 0,
        "name": "IBM IoT",
        "service": "registered",
        "x": 480,
        "y": 940,
        "wires": []
    },
    {
        "id": "46de84e2bd90d276",
        "type": "function",
        "z": "4d737e2118d73d88",
        "name": "function 4",
        "func": "var data = {}\n\nmsg.payload = {\n    \"rpm\": msg.payload\n    }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 940,
        "wires": [
            [
                "740b492423a12ff1"
            ]
        ]
    },
    {
        "id": "388e615e9e287425",
        "type": "telegram bot",
        "botname": "coragebot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "eaa4e4cfb006ebc4",
        "type": "ibmiot",
        "name": "",
        "keepalive": "60",
        "serverName": "o2emrr.messaging.internetofthings.ibmcloud.com",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "cab6ed85e8207ec8",
        "type": "ui_group",
        "name": "DC MOTOR RPM CONTROL",
        "tab": "b9a16fefe8ead2ac",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b9a16fefe8ead2ac",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]